<div class="page-container">
  <!-- include header -->
  <%- include('include/_header') %>

  <main id="site-main">
    <div class="cta-button">
      <a href="/">All Orders</a>
    </div>

    <div class="form-container">
      <!-- include form -->
      <%- include('include/_form') %>
    </div>
  </main>

  <!-- include footer -->
  <%- include('include/_footer') %>
</div>

<form action="/" method="POST">
  <button type="submit">Test</button>
</form>
